.box{
height: 500px;
     background-color:antiquewhite;
    color: rgb(100, 179, 21);
   background-image: url("assets/todolistbg.webp");
    background-repeat:no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size:contain;
    opacity:1;
    padding: 50px;
margin: 20px;


}
.box2{
    height: 300px;
    background-image: url(assets/nature.jpg);
    background-repeat: no-repeat;
}
